---
permalink: /tags/
layout: layouts/library.njk
---
<h2 class="h2">Tags</h2>

<main class="main">
  <div class="l-box l-box--wrap">
    {% for tag in collections.tagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
  </div>
</main>