<ol reversed class="bookshelf" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="book postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">
    {% if post.data.image and post.data.currentRead %}
      <img class="book__image book__image--wip" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
    {% elif post.data.image %}
      <img class="book__image" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
    {% endif %}
    </a>
    {% if post.data.currentRead %}
    <div class="progress">
      <div class="progress__bar" style="width: {{ post.data.progress }};"></div>
    </div>
    {% endif %}
  </li>
{% endfor %}
</ol>
