---
layout: layouts/about.njk
templateClass: tmpl-about
---
<section class="section">
   <h2 class="h2"><a id="me">About Me</a></h2>
   <p class="p">Hi, I’m Mel. I mainly use she/they, but any pronouns are fine. I live in Kentucky with my husband and our corgi.</p>
   <p class="p">Making <a href="https://www.tiktok.com/@pagemelt" class="link">TikToks</a> about books and fanfic is sort of my main thing, and I have plans to start making longer essays on YouTube soon.</p>
   <p class="p">When I’m not making videos or reading, I work full-time designing websites and software. When I'm not doing <em>that</em>, I like to write, cook, thrift for clothes, garden, eat sushi, and drink craft beer.</p>
</section>
<section class="section">
   <h2 class="h2"><a id="this-site">About This Site</a></h2>
   <p class="p">There’s a lot of discussion on  bookish social media about migrating from Goodreads (owned by Amazon) to StoryGraph (a startup founded by Nadia Odunayo, a Black woman). I think the underlying motivation to move from Goodreads to StoryGraph is good, but I also think moving our data from one tech company to another wholesale is ultimately a lateral move.</p>
   <p class="p">While I applaud StoryGraph’s mission to dethrone Goodreads, they’re still a company, and companies can’t and don’t have morals or values. The people who work at them do, of course, but turnover in tech is high and startups are bought and sold every day.</p>
   <p class="p">I’d like use this momentum to leave Goodreads as an opportunity to take a step towards a more decentralized web where we’re each empowered to own and harness our own data. This website is my attempt at doing that for myself in a way that's hopefully useful to folks who enjoy my content. But I’m still using <a href="https://app.thestorygraph.com/profile/pagemelt" class="link">StoryGraph</a> to manage my TBR (for now).</p>
</section>
<section class="section">
   <h2 class="h2"><a id="updates">Updates</a></h2>
   <p class="p"><img src="/img/fire.gif"> <strong>12.12.2021:</strong> I did a total overhaul of the site! Probably the coolest addition is that you can now actually click into the books I've read to see more details about them, including if I've made associated TikToks or Spotify playlists. And you can filter by tags!</p>
</section>
<section class="section">
   <h2 class="h2"><a id="support">Support My Work</a></h2>
   <p class="p">In an effort to keep my work as independent as possible, I don’t accept brand deals, and I very rarely accept ARCs. This may not always be the case, but since I have a full-time job and time is my most valuable resource, it’s extremely important for me to retain control over exactly what I read and when I read it.</p>
   <p class="p">If you enjoy my work—either my reviews and essays or the database I’m slowly building on this site—feel free to support me with <a href="https://ko-fi.com/pagemelt" class="link">a coffee</a> or a book from my <a href="https://bookshop.org/wishlists/081f251e2505a6a2d7a177848e81dc66cc4480f6" class="link">Bookshop.org wishlist</a>!</p>
   <p class="p">If you found me through Neocities, feel free to <a href="https://pagemelt.neocities.org/" class="link">follow me</a> and add my button to your site!</p>
   <p class="p p--image"><a href="https://pagemelt.neocities.org/"><img src="/img/pagemelt-button.png"></a></p>
</section>
